@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Dokdo", system-ui;
    font-size: 30px;

}

header{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    height: 120px;
    background-color: blue;
    z-index: -1;
    font-size: 40px;
}

.soldat_knapp_container{
    background-color: lightcoral;
    z-index: 2;
    border: 2px solid black;
    opacity: 50%;
}

p{
    display: flex;
    justify-content: center;
}

body{
    background-image: url(bilder/Wild_West.png);
    background-size: cover;
	background-repeat: no-repeat;
    z-index: 1; /**denne funker ikkke enda, har position static, vet ikke hvorfor burde spørre rasmus**/
}

main {
    display: flex;
    justify-content: space-between;
}
