
* {
    margin: 0;
    padding: 0;
    display: block;

}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 150px;
    background-color: blue;
    z-index: -1;
}

.soldat_knapp_container{
    background-color: lightcoral;
    z-index: 2;
}

p{
    display: flex;
    justify-content: center;
}

body{
    background-color: white;
    z-index: 1; /**denne funker ikkke enda, har position static, vet ikke hvorfor burde spørre rasmus/
}