@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Dokdo", system-ui;
    font-size: 30px;

}

header {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    height: 120px;
    background-color: #d4950bba;
    font-size: 40px;
    opacity: 70%;
}

.soldat_knapp_container {
    background-color: yellow;
    opacity: 50%;
}

p {
    display: flex;
    justify-content: center;
}

#timer {
    display: flex;
    justify-content: center;
}


main{
    height: 500px;
}

body {
    background-image: url(bilder/Wild_West.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    /**denne funker ikkke enda, har position static, vet ikke hvorfor burde spørre rasmus**/
}