
* {
    margin: 0;
    padding: 0;
    display: block;

}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 150px;
    background-color: blue;
    z-index: -1;

}

body{
    background-color: white;
}