@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Dokdo", system-ui;
    font-size: 30px;

}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 120px;
    background-color: blue;
    z-index: -1;
}

.soldat_knapp_container{
    background-color: lightcoral;
    z-index: 2;
    border: 2px solid black;
}

p{
    display: flex;
    justify-content: center;
}

body{
    background-image: url(bilder/Wild_West.png);
	background-repeat: no-repeat;
    width: 200%;
    z-index: 1; /**denne funker ikkke enda, har position static, vet ikke hvorfor burde spørre rasmus**/
}
